JWT_SECRET=
JWT_EXPIRATION_MS=86400000
DB_URL=jdbc:postgresql://localhost:5432/teamtime
DB_USERNAME=postgres
DB_PASSWORD=
MAIL_USERNAME=
MAIL_APP_PASSWORD=
VERIFICATION_CODE_SECRET=
JPA_SHOW_SQL=false
